{% extends 'base.html' %}

{% block title%}
- Events
{% endblock%}

{% block content %}
<p>your events</p>

<form action='/journeys/' method="post">

    {{ eventForm }}
    {% for event in events %}
        <p><input type="checkbox" name="cb_{{forloop.counter}}"></input>{{event.name}} - {{event.start|date:"D d M Y - H:i"}}<br>at {{event.location}}</p>
    {% endfor %}

    <p>send by email?</p>
    <p><input type="checkbox" name="email"></input><input type="text" name="email_address"></input></p>

    <input type='submit' name='plan' value="plan your journey!">
</form>

{% endblock %}



